body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}
canvas {
    z-index: 1;
    margin: 0 auto;
    display: flex;
    background-color: darkslategray;
}
.overlay {
    position: relative;
    z-index: 2;
    width: 1536px;
    height: 704px;
    top: -704px;
    margin: 0 auto;
    filter:grayscale(50%);
}
.night {
    position: relative;
    top: -1408px;
    background-color: rgb(8, 8, 8, 0);
}